body{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #d5e1ef;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin: 10%;
  background-color: white;
  border-radius: 16px;
}
img{
  width: 30dvw;
  border-radius: 13px;
  margin: 15px 15px;
}